.container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.like{
    margin-left:10px;
    width:20px;
    height:20px;
}

.networkWrapper{
    display:flex;
    padding:10px;
}

